#Cities_name{
    padding-top: 1%;
    background: rgb(255, 255, 255);
}
/* styling cities button */
#Cities_name li{
    background-color: aquamarine;
    display: block;
    list-style: none;
    text-align: center;
    margin-right: 3rem;
    width: 150px;
    line-height: 3rem;
    margin-bottom: 3rem;
    border-radius: 2rem;
    display: inline-grid;
}