h1 {
    font-family: "Montserrat";
    font-size: 3rem;
    line-height: 1.5;
    font-weight:600;
  }
  body {
    font-family: Montserrat;
  }





/* Navigation portion */

#nav-portion{
  background-color: #0d0520;
  color: #a9dd19;

}
.container-fluid {
    padding: 3% 15% 7%;
  }

.navbar {
    padding: 0 0 4.5rem;
    background-color: rgb(79, 12, 92);
  }
  
  .navbar-brand {
    font-family: "Ubuntu";
    font-size: 2rem;
    font-weight: bold;
  }
  
  .nav-link {
    font-size: 1.2rem;
    font-family: "Montserrat-light";
    margin: 0 15px;
    
  }







/* title portion */

  .download-button {
    margin: 5% 3% 5% 0;
  }

  .title-image {
    width: 50%;
     text-align:right;
  }
  
  h3 {
    font-family: "Montserrat";
  }
  
  h2 {
    font-family: "Montserrat";
    font-size: 3rem;
    line-height: 1.5;
  }

#title-portion{
  background-color: #a9dd19;
  color: #fff;
}







/*features portion*/

#features {
    padding: 7% 15%;
    background-color: #fff;
  }
  
  .feature-box {
    text-align: center;
    padding: 5%;
  }
  
  .utkarsh {
    color: #184d47;
    margin-bottom: 1rem;
  }
  
  .utkarsh:hover {
    color: #8CC152;
  }








/* search portion */


  #pricing {
    padding: 100px;
  }
  
  .pricing-column {
    padding: 3% 2%;
  }






/* cta portion */

  #cta {
    background-color: #1b4d5a;
    color: #fff;
    padding: 7% 15%;
    text-align: center;
  }
  
  .cta-heading {
    font-family: "Montserrat";
    font-size: 2.5rem;
    line-height: 1.5;
    font-weight: 600;
  }







/* footer portion */

  #footer {
    padding: 7% 15%;
  
    background-color: #28527a;
  }
  
  .social-icon {
    width: 15%;
    padding-left: 2%;
    padding-top: 10%;
    }

    .uttu{
      padding-left: 10%;
    }
  
  .don{
    color: #8CC152;
  }

  .footer-image{
    width: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
  }

  .injection-image{
    width: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }