h1 {
    font-family: "Montserrat";
    font-size: 3rem;
    line-height: 1.5;
    font-weight:600;
  }

  html,body {
    font-family: Montserrat;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
  }




/* Navigation portion */

#nav-portion{
  background-color: #1B4D5A;
  color: #a9dd19;

}

.logo{
  width: 15%;
  
}

   .navbar {
    padding: 1rem 1rem 1rem;
    background-color: #1B4D5A;
  }
  
  
  .navbar-brand {
    padding-top: 1rem;
    font-family: 'Charm', cursive;
    font-size: 1.3rem;
    font-weight: bold;
    margin: 0 0 0;
  }
  
  .nav-link {
    font-size: 1.2rem;
    font-family: "Montserrat-light";
    margin: 0 15px;
    
  }
  .adjust{
    padding-left: 8%;
  }

  /* css for the search box */
#search-box{
  width: 100%;
  height: 35rem;
  position: relative;

  background: #8DC3CC;
  
  overflow: hidden;

}
@media screen and (max-width: 800px){
  #search-box{
    height: auto;
  }
}
/* inner search area */
.form-box{
  width: 90%;
  height: 35rem;
  position:relative;
  background: #daf7f7;
  padding-bottom: 1rem;
  display: block;
  margin-top: 0;
  
  
}
@media screen and (max-width: 800px){
  .form-box{
    height: auto;
  }
}
/* css for the image in search area */
#images{
  width:40rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5rem;

  
}
@media screen and (max-width: 800px){
  #images{
  width:100%;
  padding-top: 1rem;

  }
}
/* css for input field in search area */
.input-field{
  width:35%;
  height: 3rem;
  border-radius: 30px;
  background-color: #312f35;
  color:#fff;
}
@media screen and (max-width: 900px){
  .input-field{
  width:70%;
  
  }
}
/* css for a margin border */
.end-border{
  width: 100%;
  background: rgb(179, 169, 169);
  height: 0.3rem;
}
/* css for search button */
.search-button{
  
  color: white;
  border-radius: 30px;
  cursor: pointer;
  display: block;
  margin: auto;
  background: linear-gradient(to right, #ff105f,#ffad06);
  border: 1;
  outline: none;
  width: 25%;
   

}








/* title portion */

  .download-button {
    margin: 5% 3% 5% 0;
  }

  .title-image {
    width: 50%;
     text-align:right;
  }
  
  h3 {
    font-family: "Montserrat";
  }
  
  h2 {
    font-family: "Montserrat";
    font-size: 3rem;
    line-height: 1.5;
  }

  #title-portion{
    background-color:rgb(36, 35, 35);
    color:#0a3307;
    font-family: "Montserrat";
    padding: 7% 15%;
    text-align: center;
  }
  #title-portion p{
    color:#f7f5fc;
  }
.row_head_first{
  font-family:Arial, Helvetica, sans-serif;
  font-size:2.5rem;
  line-height: 1.5;
  font-weight: 600;
    color:#7ca114;
}
.row_head_second{

  color:#27f58e;
}









/*features portion*/

#features {
    background-color:rgb(36, 35, 35);
  }
  
  .feature-box {
    text-align: center;
    padding: 5%;
  }
  
  .utkarsh {
    color: #28c4cf;
    margin-bottom: 1rem;
  }
  
  .utkarsh:hover {
    color: #8CC152;
  }

.row{
  color:#f6f8f8;
}




/* search portion */

  #pricing {
    padding: 0 8% 0 ;
    background-color: rgb(2, 14, 8);
  }

.pricing-p{
  color: #fff;
  
}
  
.above{
  color: #2990d4;
  background: rgb(1, 6, 10);
}
  .pricing-column {
    padding: 3% 2%;
    background-color: #010a05;
  }

  .don{
    color: #8CC152;
  }
  
  #inside_card{
    color:#f6f8f8;
    background-color:#070e09;
    
  }





  /* districts portion */

  .uttu{
    padding: 0rem 1rem 1rem 1rem;
  
    background-color: rgb(32, 29, 29);
    
  }

  .feature-box{
    padding: 1rem 1rem 0rem 1rem;
  
  }
  
  
  
  


/* cta portion */

#cta {
  background-color: #1b4d5a;
  color: #fff;
  padding: 7% 15%;
  text-align: center;
}

.cta-heading {
  font-family: "Montserrat";
  font-size: 2.5rem;
  line-height: 1.5;
  font-weight: 600;
}







/* footer portion */

#footer {
  padding: 7% 15%;

  background-color: #28527a;
}

.social-icon {
  width: 15%;
  padding-left: 2%;
  padding-top: 10%;
  }

  .uttu{
    padding-left: 10%;
    background-color:#28527a;
  }


.footer-image{
  width: 40%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  
}

.injection-image{
  width: 40%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.b{
align-content: center;
color: blue;
}

