
h1 {
    font-family: "Montserrat";
    font-size: 3rem;
    line-height: 1.5;
    font-weight:600;
  }
 
 html,body {
    font-family: Montserrat;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
  }

  /* Navigation portion */

#nav-portion{
    background-color: #1b4d5a;
    color: #a9dd19;
    
    }
    
    .logo{
    width: 15%;
    
    }
    
     .navbar {
      padding: 1rem 1rem 1rem;
      background-color: #1b4d5a;
    }
    
    .navbar-brand {
      padding-top: 1rem;
      font-family: 'Charm', cursive;
      font-size: 1.3rem;
      font-weight: bold;
      margin: 0 0 0;
    }
    
    .nav-link {
      font-size: 1.2rem;
      font-family: "Montserrat-light";
      margin: 0 15px;
      
    }
    .adjust{
      padding-left: 8%;
    }


/* heading portion */
.head_{
  background-color: rgb(215, 241, 241);
}
.heading{
   
    color:#F2AC29;
    text-shadow: -1px 1px 0 #000,
                          1px 1px 0 #000,
                         1px -1px 0 #000,
                        -1px -1px 0 #000;
    text-align-last: center;
}
.mini_head{
    color:rgb(0, 0, 0);
    text-align: center;
}
.line_sol{
  font-family: 'Pangolin', cursive;
  color: white;
  text-shadow: -1px 1px 0 #000,
                          1px 1px 0 #000,
                         1px -1px 0 #000,
                        -1px -1px 0 #000;

}





/*table portion */
h1{
  color:#fff;
  padding:25px;
}
h2{
  color:#03471d;
  padding:25px;
}


table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width:100%;
  }
  
  table th{
    text-align: left;
    background-color: rgb(61, 181, 218);
    color:#fff;
    padding:6px 30px 8px 15px;
  }

  table  td{
    border: 3px  solid #fff;
    padding: 6px 8px;
  }
  
  tr:nth-child(odd) {
    background-color: rgb(215, 241, 241);
  }
  tr:nth-child(even){
    background-color: rgb(247, 252, 251);
  } 
















  /* cta portion */

  #cta {
    background-color: #1b4d5a;
    color: #fff;
    padding: 7% 15%;
    text-align: center;
  }
  
  .cta-heading {
    font-family: "Montserrat";
    font-size: 2.5rem;
    line-height: 1.5;
    font-weight: 600;
  }
