  <!-- Footer -->

  <section id="footer">

    <div class="row">
      <div class="col">
        <img class="footer-image" src="assets/covid.png" alt="mockup">
      </div>
      <div class="col uttu">
        <a href="https://www.facebook.com/taru.guardians.3"><img class="social-icon" src="assets/facebook.png" alt="mockup"></a>
        <a href="mailto:taruguardians@gmail.com"><img class="social-icon" src="assets/gmail.png" alt="mockup"></a>
        <a href="https://instagram.com/_taruguardians_?igshid=1u7h3d9cz98od"><img class="social-icon" src="assets/insta.png" alt="mockup"></a>
        <img class="social-icon" src="assets/twitter.png" alt="mockup">
      </div>
      <div class="col">
        <img class="injection-image" src="assets/inject.png" alt="image">
      </div>
      
    </div>
  
</section>

<script src="/javascripts/index.js" charset="utf-8"></script>
</body>

</html>