
  #nav-portion{
    background-color: #1b4d5a;
    color: #a9dd19;
    
    }
    
    .logo{
    width: 15%;
    
    }
    
     .navbar {
      padding: 1rem 1rem 1rem;
      background-color: #1b4d5a;
    }
    
    .navbar-brand {
      padding-top: 1rem;
      font-family: 'Charm', cursive;
      font-size: 1.3rem;
      font-weight: bold;
      margin: 0 0 0;
    }
    
    .nav-link {
      font-size: 1.2rem;
      font-family: "Montserrat-light";
      margin: 0 15px;
      
    }
    .adjust{
      padding-left: 8%;
    }



.heading{
    background-color: rgb(215, 241, 241);
    color:rgb(243, 4, 4);
    text-align-last: center;
}
.mini-head{
    color:brown;
    text-align: center;
}


table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #c7bbbb;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #eceee2;
  }