<%- include ("partials/header")%>
<link rel="stylesheet" href="/stylesheets/bihar.css" />
<!-- Districts -->

<section id="districts">
  <div class="row uttu">
    <div class="col-sm-6 col-md-3 col-lg-2 feature-box">
      <button class="btn btn-md btn-block btn-outline-success"type="button">Araria</button>
    </div>
    <div class="col-sm-6 col-md-3 col-lg-2 feature-box">
      <button class="btn btn-md btn-block btn-outline-success"type="button">Aurangabad</button>
    </div>
    <div class="col-sm-6 col-md-3 col-lg-2 feature-box">
      <button class="btn btn-md btn-block btn-outline-success"type="button">Banka</button>
    </div>
    <div class="col-sm-6 col-md-3 col-lg-2 feature-box">
      <button class="btn btn-md btn-block btn-outline-success"type="button">Begusarai</button>
    </div>
    <div class="col-sm-6 col-md-3 col-lg-2 feature-box">
      <button class="btn btn-md btn-block btn-outline-success"type="button">Bhagalpur</button>
    </div>
    <div class="col-sm-6 col-md-3 col-lg-2 feature-box">
      <button class="btn btn-md btn-block btn-outline-success"type="button">Bhojpur</button>
    </div>
    <div class="col-sm-6 col-md-3 col-lg-2 feature-box">
      <button class="btn btn-md btn-block btn-outline-success"type="button">Buxar</button>
    </div>
    <div class="col-sm-6 col-md-3 col-lg-2 feature-box">
      <button class="btn btn-md btn-block btn-outline-success"type="button">Darbhanga</button>
    </div>
    <div class="col-sm-6 col-md-3 col-lg-2 feature-box">
      <button class="btn btn-md btn-block btn-outline-success"type="button">Gaya</button>
    </div>    
    <div class="col-sm-6 col-md-3 col-lg-2 feature-box">
      <button class="btn btn-md btn-block btn-outline-success"type="button">Gopalgunj</button>
    </div>  
    <div class="col-sm-6 col-md-3 col-lg-2 feature-box">
      <button class="btn btn-md btn-block btn-outline-success"type="button">Jamui</button>
    </div>  
    <div class="col-sm-6 col-md-3 col-lg-2 feature-box">
      <button class="btn btn-md btn-block btn-outline-success"type="button">Jehanabad</button>
    </div>  
    <div class="col-sm-6 col-md-3 col-lg-2 feature-box">
      <button class="btn btn-md btn-block btn-outline-success"type="button">Katihar</button>
    </div>  
    <div class="col-sm-6 col-md-3 col-lg-2 feature-box">
      <button class="btn btn-md btn-block btn-outline-success"type="button">Khagaria</button>
    </div>  
    <div class="col-sm-6 col-md-3 col-lg-2 feature-box">
      <button class="btn btn-md btn-block btn-outline-success"type="button">Kishanganj</button>
    </div>  
    <div class="col-sm-6 col-md-3 col-lg-2 feature-box">
        <button class="btn btn-md btn-block btn-outline-success"type="button">Madhubani</button>
      </div>
      <div class="col-sm-6 col-md-3 col-lg-2 feature-box">
        <button class="btn btn-md btn-block btn-outline-success"type="button">Munger</button>
      </div>
      <div class="col-sm-6 col-md-3 col-lg-2 feature-box">
        <button class="btn btn-md btn-block btn-outline-success"type="button">Muzaffarpur</button>
      </div>
      <div class="col-sm-6 col-md-3 col-lg-2 feature-box">
        <button class="btn btn-md btn-block btn-outline-success"type="button">Nalanda</button>
      </div>    
      <div class="col-sm-6 col-md-3 col-lg-2 feature-box">
        <button class="btn btn-md btn-block btn-outline-success"type="button">Nawada</button>
      </div>  
      <div class="col-sm-6 col-md-3 col-lg-2 feature-box">
        <button class="btn btn-md btn-block btn-outline-success"type="button">Patna</button>
      </div>  
      <div class="col-sm-6 col-md-3 col-lg-2 feature-box">
        <button class="btn btn-md btn-block btn-outline-success"type="button">Purnia</button>
      </div>  
      <div class="col-sm-6 col-md-3 col-lg-2 feature-box">
        <button class="btn btn-md btn-block btn-outline-success"type="button">Rohtas</button>
      </div>  
      <div class="col-sm-6 col-md-3 col-lg-2 feature-box">
        <button class="btn btn-md btn-block btn-outline-success"type="button">Saharsa</button>
      </div>  
      <div class="col-sm-6 col-md-3 col-lg-2 feature-box">
        <button class="btn btn-md btn-block btn-outline-success"type="button">Samastipur</button>
      </div>  
      <div class="col-sm-6 col-md-3 col-lg-2 feature-box">
        <button class="btn btn-md btn-block btn-outline-success"type="button">Sitamarhi</button>
      </div>  
      <div class="col-sm-6 col-md-3 col-lg-2 feature-box">
        <button class="btn btn-md btn-block btn-outline-success"type="button">Siwan</button>
      </div>  
      <div class="col-sm-6 col-md-3 col-lg-2 feature-box">
        <button class="btn btn-md btn-block btn-outline-success"type="button">Vaishali</button>
      </div>  

  </div>
</section>


  <!-- Call to Action -->

  <section id="cta">

    <h3 class="cta-heading">Add Information</h3>
    <p>Send us any information, contact details, files, pdf's
      or links which you don't find in our website and you think it can help to save lives. We will add them so that others can see.</p>
    <a href="mailto:taruguardians@gmail.com"><button type="button" class="btn btn-lg btn-dark download-button"><i class="fas fa-seedling"></i> Send Us</button></a>

  </section>
  <%- include ("partials/footer")%>