
body {
    background-color: lightgray;
}

html,body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
  }

/* Navigation portion */

#nav-portion{
    background-color: #1B4D5A;
    color: #a9dd19;
  
  }
  
  .logo{
    width: 15%;
    
  }
  
     .navbar {
      padding: 1rem 1rem 1rem;
      background-color: #1B4D5A;
    }
    
    
    .navbar-brand {
      padding-top: 1rem;
      font-family: 'Charm', cursive;
      font-size: 1.3rem;
      font-weight: bold;
      margin: 0 0 0;
    }
    
    .nav-link {
      font-size: 1.2rem;
      font-family: "Montserrat-light";
      margin: 0 15px;
      
    }
    .adjust{
      padding-left: 8%;
    }


/* About Us  */
.Secondary{
    text-align:center;
    border: 5px solid rgb(174, 209, 16);
    border-radius: 32px;
    background-color:lightgoldenrodyellow;
    margin: 40px 70px 50px 70px;
    padding:16px 22px 16px 22px;
}
#SecHead{
    font-family: 'Pangolin', cursive;
    color:rgb(63, 231, 21);
    font-size: 70px;
}

#ThePara{
    font-family: 'Playball', cursive;
    font-size: 23px;
    color:rgb(255, 2, 2)
}



/* Our Developers */

#devs{
  padding: 2% 8%;
  background-color: lightslategrey;
}

.bg-primary{
  background-color: lightgoldenrodyellow !important;
  border: none!important;
}

.tas {
  border-radius: 50%;
  width: 50%;
}
.name{
   text-align: center;
   font-family: 'Satisfy', cursive;
   font-size: 31px;
   color:slategrey;
}
.devs-head{
  font-family: 'Shadows Into Light', cursive;
  font-size: 50px;
  color:rgb(15, 166, 204);
}
.three{
  text-align:center;
  border: 5px solid rgb(94, 26, 221);
  border-radius: 32px;
  background-color:lightgoldenrodyellow;
  padding:16px 22px 16px 22px;
  box-shadow: var(--shd,0 1px 4px rgba(0,0,0,.6));
}




/* Our Volenteers */
.Fourth{
    text-align:center;
    border: 3px solid rgb(174, 209, 16);
    border-radius: 32px;
    background-color:lightgoldenrodyellow;
    margin: 40px 70px 50px 50px;
    padding:16px 22px 16px 22px;
    box-shadow: var(--shd,0 1px 4px rgba(0,0,0,.6));
}
.images{
    display: grid;
    grid-template-columns: repeat(4,0.1fr);
    grid-template-rows: repeat(4,0.1fr);
    justify-content: center;
    

}
#Title2{
    font-family: 'Satisfy', cursive;
    font-size: 27px;
    color:slategrey;
}










/* footer portion */

  #footer {
    padding: 7% 15%;
  
    background-color: #28527a;
  }
  
  .social-icon {
    width: 15%;
    padding-left: 2%;
    padding-top: 10%;
    }

    .uttu{
      padding-left: 10%;
    }
  
  
  .footer-image{
    width: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
  }

  .injection-image{
    width: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }


